{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}" />
{% endblock %}
{% block body %}

<div class="container-fluid">
  <div class="container">
    <div class="bloc-formulaire">
      <div class="bloc-gauche">
        <div class="bloc-haut">
          <div class="titre">
            <h1>Réservation</h1>
            <div class="fas fa-chevron-circle-left retour"></div>
            <h2><span class="fas fa-chevron-circle-left retour"></span>RESERVATION</h2>
          </div>
          <h3 id="reserve-rappel">Merci ! On vous rappelle bientôt !</h3>
          <h3 id="reserve-contact">Merci pour votre réservation !</h3>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
          <h3 id="sous-titre">Préparez vos soirées sur Bordeaux</h3>
=======
          <h3 id="sous-titre">Préparez vos soirées sur Bordeaux !</h3>
>>>>>>> rebase
=======
          <h3 id="sous-titre">Préparez vos soirées sur Bordeaux</h3>
>>>>>>> update
=======
>>>>>>> update
          <div class="boutons">
            <button id="btn-fb" type="button" class="btn btn-lg btn-block">Via Facebook</button>
            <button id="btn-mail" type="button" class="btn btn-lg btn-block">Via email</button>
            <button id="btn-tel" type="button" class="btn btn-lg btn-block">On vous rappelle</button>
          </div>
          <form class="rappel" method="get">
            <input id="rappel-nom" class="bouton" type="text" name="nom" placeholder="Nom">
            <input id="rappel-prenom" class="bouton" type="text" name="prenom" placeholder="Prénom">
            <input id="rappel-numtelephone" class="bouton" type="number" name="telephone" placeholder="Téléphone">
            <textarea id="rappel-demande" class="bouton" name="demande" rows="1" cols="30" placeholder="Votre demande"></textarea>
            <button id="rappel-validation" type="button" class="btn btn-block confirmation">Me rappeler</button>
          </form>
          <form class="contact" method="get">
            {% for evenement in evenements  %}
            <select class="bouton type-evenement" name="type-evenement">
              <option value="{{ evenement.titre }}">{{ evenement.titre }}</option>

            </select>
            {% endfor %}
            <select class="bouton nombre-personne" name="nombre-personne">
              <option value="">Nombre de personnes</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5 et plus">5 et plus</option>
              <option value="10 et plus">10 et plus</option>
              <option value="20 et plus">20 et plus</option>
            </select>
            <label for="datepicker">Date :
            <input id="contact-datepicker" type="datetime" name="datepicker" class="far fa-calendar-alt"></label>
            <input id="contact-nom" class="bouton" type="text" name="nom" placeholder="Nom">
            <input id="contact-prenom" class="bouton" type="text" name="prenom" placeholder="Prénom">
            <input id="contact-email" class="bouton" type="email" name="email" placeholder="Adresse mail">
            <input id="contact-numtelephone" class="bouton" type="number" name="telephone" placeholder="Téléphone">
            <textarea id="contact-demande" class="bouton" name="demande" rows="1" cols="30" placeholder="Votre demande"></textarea>
            <button id="contact-validation" type="button" class="btn btn-block confirmation">Réserver</button>
          </form>
        </div>
        <div class="bloc-bas">
          <h3>Ils parlent de nous</h2>
          <div class="google">
            <p>94 avis google</p>
            <div class="fas fa-star"></div>
            <div class="fas fa-star"></div>
            <div class="fas fa-star"></div>
            <div class="fas fa-star"></div>
            <div class="fas fa-star-half"></div>
          </div>
          <div class="reseaux-Soc">
            <a class="logo-reseauxSoc" href="#">
                <svg class="facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 100">
                    <style type="text/css">
                        .st01{opacity:0.8;fill:#3E5C9A;}
                        .st11{opacity:0.7;fill:#3E5C9A;}
                        .st21{opacity:0.85;fill:#3E5C9A;}
                        .st31{fill:#FFFFFF;}
                    </style>
                    <g>
                        <path class="st01" d="M87.37,95.61c2.29,2.52,5.69,3.76,9.13,3.15c3.44-0.62,6.85-3.14,8.78-6.68c4.06-7.49,1.17-20.88-7.46-18.14C90.96,76.11,81.78,89.46,87.37,95.61z"/>
                        <path class="st11" d="M73.73,4.69C52.39,14.37,57.07,25.24,51,30.38s-30.05,11.7-30.96,20.15S43.38,67.47,51,76.93S47.93,97.88,78.35,91.8c9.31-1.86,33.78,0.61,32.57-21.63C109.71,47.94,91.99-3.59,73.73,4.69z"/>
                        <path class="st21" d="M25.8,24.5c3.68-15.7,28.19-14.34,39.7-8.17c18.38,9.87,28.72,1.44,40.82,2.97c15.52,1.97,23.65,47.66-5.11,62.73s-46.87,21.61-62.52,7.2c-8.45-7.79-6-24.02-6.11-33.98c-0.04-4.34,0.47-9.09-0.7-13.34c-1.61-5.81-7.24-9.03-6.4-15.66C25.56,25.65,25.66,25.06,25.8,24.5z"/>
                        <path id="XMLID_1420_" class="st31" d="M67.13,82.17h10.5v-26.3h7.33l0.78-8.81h-8.11c0,0,0-3.29,0-5.02c0-2.08,0.42-2.9,2.43-2.9c1.62,0,5.68,0,5.68,0V30c0,0-5.99,0-7.27,0c-7.82,0-11.34,3.44-11.34,10.03c0,5.74,0,7.02,0,7.02h-5.46v8.92h5.46V82.17z"/>
                    </g>
                </svg>
            </a>
            <a class="logo-reseauxSoc" href="#">
                <svg class="instagram"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 100">
                    <style type="text/css">
                        .st0{opacity:0.8;fill:url(#SVGID_1_);}
                        .st1{opacity:0.7;fill:url(#SVGID_2_);}
                        .st2{opacity:0.85;fill:url(#SVGID_3_);}
                        .st3{fill:#FFFFFF;}
                    </style>
                    <g>
                            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-344.7235" y1="67.6601" x2="-334.0381" y2="83.5398" gradientTransform="matrix(-0.5109 -0.8596 0.9736 -0.5786 -200.927 -164.3873)">
                            <stop  offset="0" style="stop-color:#F5EC53"/>
                            <stop  offset="0.2412" style="stop-color:#E48244"/>
                            <stop  offset="0.5451" style="stop-color:#D15767"/>
                            <stop  offset="0.7229" style="stop-color:#C84278"/>
                            <stop  offset="1" style="stop-color:#192CFA"/>
                        </linearGradient>
                        <path class="st0" d="M47.25,94.77c2.1,0.34,4.26,0.62,6.43,0.21c2.17-0.41,4.38-1.64,5.4-3.55c1.29-2.42,0.33-5.24-1.47-7.02 s-4.29-2.78-6.6-3.96s-4.59-2.67-5.56-5c-0.53-1.27-0.67-2.77-1.66-3.73c-1.61-1.57-4.67-0.88-6.75,0.56 C23.03,82.03,37.61,93.21,47.25,94.77z"/>
                        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="20.9261" y1="52.4005" x2="122.6651" y2="52.4005">
                            <stop  offset="0" style="stop-color:#F5EC53"/>
                            <stop  offset="0.2412" style="stop-color:#E48244"/>
                            <stop  offset="0.5451" style="stop-color:#D15767"/>
                            <stop  offset="0.7229" style="stop-color:#C84278"/>
                            <stop  offset="1" style="stop-color:#192CFA"/>
                        </linearGradient>
                        <path class="st1" d="M89.91,10.07C67.06,17.25,41.27,11.29,30.2,26.4S13.24,55.6,40.41,63.6S64.4,104.41,85.7,94.73 C132.57,73.43,135.85-4.36,89.91,10.07z"/>
                        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="22.2074" y1="43.9836" x2="119.8225" y2="43.9836">
                            <stop  offset="0" style="stop-color:#F5EC53"/>
                            <stop  offset="0.2412" style="stop-color:#E48244"/>
                            <stop  offset="0.5451" style="stop-color:#D15767"/>
                            <stop  offset="0.7229" style="stop-color:#C84278"/>
                            <stop  offset="1" style="stop-color:#192CFA"/>
                        </linearGradient>
                        <path class="st2" d="M65.18,17.5C72.02,11.8,78.35,4.82,86.67,2.16c7-2.23,15-0.92,20.84,3.76s9.25,12.72,8.36,20.44 c-0.92,7.99-6.08,15.3-5.31,23.31c0.52,5.4,3.65,10.03,6.12,14.77c2.47,4.75,4.34,10.55,2.24,15.49c-2.97,6.95-12,8.1-18.89,5.97 c-6.89-2.13-13.26-6.48-20.42-6.94c-10.03-0.64-19.28,6.48-29.33,6.55c-2.48,0.02-5.02-0.43-7.13-1.79 c-2.1-1.36-3.62-3.51-5.09-5.6c-5.49-7.85-11.29-17.4-8.47-26.71c0.87-2.89,2.57-5.67,2.3-8.69c-0.6-6.6-9.58-11.08-9.67-17.31 c-0.07-5.13,5.21-7.26,9.21-6.11c6.4,1.83,9.35,7.3,16.91,6.59C54.5,25.29,60.44,21.55,65.18,17.5z"/>
                        <g id="XMLID_1346_">
                            <g id="XMLID_1347_">
                                <path id="XMLID_1352_" class="st3" d="M73.82,31.09c6.32,0,7.07,0.02,9.56,0.14c2.31,0.11,3.56,0.49,4.39,0.81 c1.1,0.43,1.89,0.94,2.72,1.77c0.83,0.83,1.34,1.62,1.77,2.72c0.32,0.83,0.71,2.09,0.81,4.39c0.11,2.49,0.14,3.24,0.14,9.56 c0,6.32-0.02,7.07-0.14,9.56c-0.11,2.31-0.49,3.56-0.81,4.39c-0.43,1.1-0.94,1.89-1.77,2.72c-0.83,0.83-1.62,1.34-2.72,1.77 c-0.83,0.32-2.09,0.71-4.39,0.81c-2.49,0.11-3.24,0.14-9.56,0.14c-6.32,0-7.07-0.02-9.56-0.14c-2.31-0.11-3.56-0.49-4.39-0.81 c-1.1-0.43-1.89-0.94-2.72-1.77c-0.83-0.83-1.34-1.62-1.77-2.72c-0.32-0.83-0.71-2.09-0.81-4.39c-0.11-2.49-0.14-3.24-0.14-9.56 c0-6.32,0.02-7.07,0.14-9.56c0.11-2.31,0.49-3.56,0.81-4.39c0.43-1.1,0.94-1.89,1.77-2.72c0.83-0.83,1.62-1.34,2.72-1.77 c0.83-0.32,2.09-0.71,4.39-0.81C66.75,31.12,67.5,31.09,73.82,31.09 M73.82,26.83c-6.43,0-7.23,0.03-9.75,0.14 c-2.52,0.11-4.24,0.52-5.74,1.1c-1.56,0.6-2.88,1.41-4.19,2.73c-1.32,1.32-2.12,2.64-2.73,4.19c-0.59,1.5-0.99,3.22-1.1,5.74 c-0.12,2.52-0.14,3.33-0.14,9.75s0.03,7.23,0.14,9.75c0.11,2.52,0.51,4.24,1.1,5.74c0.6,1.56,1.41,2.88,2.73,4.19 c1.32,1.32,2.63,2.12,4.19,2.73c1.5,0.58,3.22,0.98,5.74,1.1c2.52,0.12,3.33,0.14,9.75,0.14c6.43,0,7.23-0.03,9.75-0.14 c2.52-0.11,4.24-0.52,5.74-1.1c1.56-0.6,2.88-1.41,4.19-2.73c1.32-1.32,2.12-2.64,2.73-4.19c0.58-1.51,0.98-3.22,1.1-5.74 c0.11-2.52,0.14-3.33,0.14-9.75s-0.03-7.23-0.14-9.75c-0.12-2.52-0.52-4.24-1.1-5.74c-0.6-1.56-1.41-2.88-2.73-4.19 c-1.32-1.32-2.63-2.12-4.19-2.73c-1.51-0.58-3.22-0.98-5.74-1.1C81.05,26.86,80.25,26.83,73.82,26.83"/>
                                <path id="XMLID_1349_" class="st3" d="M73.82,38.34c-6.71,0-12.15,5.44-12.15,12.15c0,6.71,5.44,12.15,12.15,12.15 c6.71,0,12.15-5.44,12.15-12.15C85.97,43.78,80.53,38.34,73.82,38.34 M73.82,58.38c-4.36,0-7.89-3.53-7.89-7.89 c0-4.36,3.53-7.89,7.89-7.89c4.36,0,7.89,3.53,7.89,7.89C81.71,54.85,78.18,58.38,73.82,58.38"/>
                                <path id="XMLID_1348_" class="st3" d="M89.29,37.86c0,1.57-1.27,2.84-2.84,2.84c-1.57,0-2.84-1.27-2.84-2.84 c0-1.57,1.27-2.84,2.84-2.84C88.02,35.02,89.29,36.29,89.29,37.86"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
          </div>
        </div>
      </div>
        <div class="coordonnes">
          <h2>COORDONNÉES</h2>
          <div class="telephone">
            <div class="icon-tel fas fa-phone"></div>
            <a href="0647370559">06 47 37 05 59</a>
          </div>
          <div class="adress">
            <div class="icon-adress fas fa-map-marked-alt"></div>
            <p>64bis Rue Lucien Faure, 33000 Bordeaux</p>
          </div>
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2828.04932149331!2d-0.5561587786489338!3d44.861290702451015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5529cbf00d0011%3A0x650f55d0657b89c9!2sLe%20Carrelet!5e0!3m2!1sfr!2sfr!4v1585477109292!5m2!1sfr!2sfr" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/form.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
{% endblock %}
