{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/carousel/dist/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/galerie.css') }}" />
{% endblock %}

{% block body %}
<main class="container-fluid">

  <section class="titre container-fluid d-none d-md-flex flex-column justify-content-end align-items-center text-center">
      <div class="row">
        <div class="col">
          <h1 class="text-uppercase">Galerie</h1>
        </div>
      </div>
    </section>

    <section class="slider container-fluid">
      <div class="row slider-image flex-nowrap">

        <div class="col-2 fleche-gauche d-none d-md-flex justify-content-center align-items-center ">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="85" height="85" viewBox="0 0 110 109.909">
            <defs>
              <filter id="fleche_precedent" x="0" y="0" width="110" height="109.909" filterUnits="userSpaceOnUse">
                <feOffset input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="5" result="blur"/>
                <feFlood flood-color="#5e86fc"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
            </defs>
            <g id="fleche_precedent-2" data-name="fleche precedent" transform="translate(15 15)">
              <g transform="matrix(1, 0, 0, 1, -15, -15)" filter="url(#fleche_precedent)">
                <g id="fleche_precedent-3" data-name="fleche precedent" transform="translate(15 95) rotate(-90)">
                  <path id="fleche-gauche" d="M40,0,80,80,40,40.309.091,80Z" fill="#8252ee" opacity="0" />
                  <path d="M 40.00101470947266 2.238090515136719 L 3.704917907714844 74.99504852294922 L 39.29483413696289 39.59954452514648 L 39.99919891357422 38.89902114868164 L 40.70436477661133 39.5987434387207 L 76.38307189941406 75.002197265625 L 40.00101470947266 2.238090515136719 M 40 0 L 80 80 L 40 40.30858993530273 L 0.090576171875 80 L 40 0 Z" stroke="#8252ee"/>
                </g>
              </g>
            </g>
          </svg>
        </div>

        <div class="col col-md-8 slider-principal  owl-carousel owl-theme">
          {% for galerie in photos %}
            <img src="{{ asset('assets/img/galerie/' ~  galerie.image) }}" alt="{{ galerie.titre }}">
          {% endfor %}
        </div>

        <div class="col-2 fleche-droite d-none d-md-flex justify-content-center align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="85" height="85" viewBox="0 0 110 109.909">
            <defs>
              <filter id="fleche_suivant" x="0" y="0" width="110" height="109.909" filterUnits="userSpaceOnUse">
                <feOffset input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="5" result="blur"/>
                <feFlood flood-color="#5e86fc"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
            </defs>
            <g id="fleche_suivant-2" data-name="fleche suivant" transform="translate(15 15)">
              <g transform="matrix(1, 0, 0, 1, -15, -15)" filter="url(#fleche_suivant)">
                <g id="fleche_suivant-3" data-name="fleche suivant" transform="translate(95 14.91) rotate(90)">
                  <path id="fleche-droite" d="M40,0,80,80,40,40.309.091,80Z" fill="#8252ee" opacity="0"/>
                  <path d="M 40.00101470947266 2.238090515136719 L 3.704917907714844 74.99504852294922 L 39.29483413696289 39.59954452514648 L 39.99919891357422 38.89902114868164 L 40.70436477661133 39.5987434387207 L 76.38307189941406 75.002197265625 L 40.00101470947266 2.238090515136719 M 40 0 L 80 80 L 40 40.30858993530273 L 0.090576171875 80 L 40 0 Z" stroke="#8252ee"/>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>

      <div class="row slider-bouton d-md-none">
        <div class="event-cta-mobile col d-md-none d-flex justify-content-center align-items-center">
          <button type="button" class="event-bouton-mobile btn w-100 text-center text-uppercase">
          réserver
          </button>
        </div>
      </div>

    </section>

</main>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('assets/carousel/dist/owl.carousel.min.js') }}"></script>
  <script src="{{ asset('assets/js/galerie.js') }}"></script>
{% endblock %}
