{% extends 'base.html.twig' %}

{% block title %}La Carte {% endblock %}

{% block stylesheets %}
    {# Evite d'écraser style css du layout.css#}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/carte.css') }}" />
{% endblock %}

{% block body %}
    <div id="accordeon">
        <h1>Notre Carte</h1>
        <div class="container">
            <div class="accordion" id="exempleAccordeon">
                <div class="card">
                    <div class="card-header" id="header1">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"><h2>COCKTAILS</h2></button>
                    </div>
                    <div id="collapse1" class="collapse show" aria-labelledby="header1" data-parent="#exempleAccordeon">
                        <div class="card-body">
                            <h3>SIGNATURES</h3>
                            {% for cokctail in cokctails %}
                                <h4 class="item">{{ cokctail.titre }}</h4>
                                <span class="prix">{{ cokctail.prix1 }}€</span>
                                <p>{{ cokctail.description }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="header2">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2"><h2>BIERES</h2></button>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="header2" data-parent="#exempleAccordeon">
                        <div class="card-body">
                            <p class="sous-titre">Les pressions</p>
                            {% for biere in bieres %}
                                <h4 class="item">{{ biere.titre }}</h4>
                                    <table>
                                        <tbody>
                                            <tr>
                                                {% if biere.quantite1 != null %}
                                                <td class="quantite">{{ biere.quantite1 }}cl</td>
                                                {% endif %}
                                                {% if biere.quantite2 != null %}
                                                <td class="quantite">{{ biere.quantite2 }}cl</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td class="prix">{{ biere.prix1 }}€</td>
                                                {% if biere.prix2 != null %}
                                                <td class="prix">{{ biere.prix2 }}€</td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="header3">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3"><h2>VINS</h2></button>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="header3" data-parent="#exempleAccordeon">
                        <div class="card-body">
                            {% for vin in vins %}
                                <h4 class="item">{{ vin.titre }}</h4>
                                <table>
                                    <tbody>
                                    <tr>
                                        {% if vin.quantite1 != null %}
                                        <td class="quantite">{{ vin.quantite1 }}</td>
                                        {% endif %}
                                        {% if vin.quantite2 != null %}
                                        <td class="quantite">{{ vin.quantite2 }}</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td class="prix">{{ vin.prix1 }}€</td>
                                        {% if vin.quantite2 != null %}
                                        <td class="prix">{{ vin.prix2 }}€</td>
                                        {% endif %}
                                    </tr>
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="header4">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4"><h2>SHOOTERS</h2></button>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="header4" data-parent="#exempleAccordeon">
                        <div class="card-body">
                            {% for shooter in shooters %}
                                <h4 class="item">{{ shooter.titre }}</h4>
                                <p>{{ shooter.description }}</p>
                                <span class="prix">{{ shooter.prix1 }}€</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="header5">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5"><h2>TAPAS</h2></button>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="header5" data-parent="#exempleAccordeon">
                        <div class="card-body">
                            {% for tapa in tapas %}
                                <h4 class="item sansmargintop">{{ tapa.titre }}</h4>
                                <span class="prix">{{ tapa.prix1 }}€</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="header6">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6"><h2>BOCAUX</h2></button>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="header6" data-parent="#exempleAccordeon">
                        <div class="card-body">
                            <p class="sous-titre">Les Plats</p>
                            <span class="prix">9.90€</span>
                            {% for plat in plats %}
                                <p class="avecmarginbottom avecmargintop">{{ plat.description }}</p>
                            {% endfor %}

                            <p class="sous-titre">Formule</p>
                            <span class="prix">12.90€</span>
                            {% for f in Formule %}
                                <p class="avecmarginbottom avecmargintop">{{ f.titre }}</p>
                                    <span class="prix">{{ f.description }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}