{% extends 'base.html.twig' %}

{% block title %}La Carte {% endblock %}

{% block stylesheets %}
    {# Evite d'écraser style css du layout.css#}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/carte.css') }}" />
{% endblock %}

{% block body %}
    <div id="accordeon">
        <h1>Notre Carte</h1>
        <div class="container">
            <div class="accordion" id="exempleAccordeon">
                <div class="card">
                    <div class="card-header" id="header1">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"><h2>COCKTAILS</h2></button>
                    </div>
                    <div id="collapse1" class="collapse show" aria-labelledby="header1" data-parent="#exempleAccordeon">
                        <div class="card-body">
                            <h3>SIGNATURES</h3>
                            {% for item in carte %}
                                <h4 class="item">{{ item.titre }}</h4>
                                <span class="prix">{{ item.prix1 }}€</span>
                                <p>{{ item.description }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="header2">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2"><h2>BIERES</h2></button>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="header2" data-parent="#exempleAccordeon">
                        <div class="card-body">
                            <p class="sous-titre">Les pressions</p>
{#                            {% for b in biere %}#}
{#                                <h4 class="item">{{ b.titre }}</h4>#}
{#                                    <table>#}
{#                                        <tbody>#}
{#                                            <tr>#}
{#                                                <td class="quantite">{{ b.quantite1 }}cl</td>#}
{#                                                <td class="quantite">{{ b.quantite2 }}cl</td>#}
{#                                            </tr>#}
{#                                            <tr>#}
{#                                                <td class="prix">{{ b.prix1 }}€</td>#}
{#                                                <td class="prix">{{ b.prix2 }}€</td>#}
{#                                            </tr>#}
{#                                        </tbody>#}
{#                                    </table>#}
{#                            {% endfor %}#}
{#                            <h4 class="item">Le Carrelet</h4>#}
{#                            <table>#}
{#                                <tbody>#}
{#                                    <tr>#}
{#                                        <td class="quantite">25cl</td>#}
{#                                        <td class="quantite">50cl</td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <td class="prix">3.5€</td>#}
{#                                        <td class="prix">6€</td>#}
{#                                    </tr>#}
{#                                </tbody>#}
{#                            </table>#}
{#                            <h4 class="item">Le Goudale</h4>#}
{#                            <table>#}
{#                                <tbody>#}
{#                                <tr>#}
{#                                    <td class="quantite">25cl</td>#}
{#                                    <td class="quantite">50cl</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td class="prix">4.5€</td>#}
{#                                    <td class="prix">8€</td>#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            </table>#}
{#                            <h4 class="item">La Silly blanche</h4>#}
{#                            <table>#}
{#                                <tbody>#}
{#                                <tr>#}
{#                                    <td class="quantite">25cl</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td class="prix">4.5€</td>#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            </table>#}
{#                            <h4 class="item">La Queue de Charrue ambrée</h4>#}
{#                            <table>#}
{#                                <tbody>#}
{#                                <tr>#}
{#                                    <td class="quantite">33cl</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td class="prix">5.5€</td>#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            </table>#}
{#                            <h4 class="item">La Grisette fruits des bois</h4>#}
{#                            <table>#}
{#                                <tbody>#}
{#                                <tr>#}
{#                                    <td class="quantite">33cl</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td class="prix">6€</td>#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            </table>#}
{#                            <h4 class="item">La Desperados</h4>#}
{#                            <table>#}
{#                                <tbody>#}
{#                                <tr>#}
{#                                    <td class="quantite">33cl</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td class="prix">6€</td>#}
{#                                </tr>#}
{#                                </tbody>#}
{#                            </table>#}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="header3">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3"><h2>VINS</h2></button>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="header3" data-parent="#exempleAccordeon">
                        <div class="card-body">
                            <h4 class="item sansmargintop">Rouge, blanc, rosé</h4>
                            <span class="prix">4.5€</span>
                            <h4 class="item">Le Champagne</h4>
                            <table>
                                <tbody>
                                <tr>
                                    <td class="quantite">Bouteille</td>
                                </tr>
                                <tr>
                                    <td class="prix">32€</td>
                                </tr>
                                </tbody>
                            </table>
                            <h4 class="item">La Bulle</h4>
                            <table>
                                <tbody>
                                <tr>
                                    <td class="quantite">Coupe</td>
                                    <td class="quantite">Bouteille</td>
                                </tr>
                                <tr>
                                    <td class="prix">7€</td>
                                    <td class="prix">32€</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="header4">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4"><h2>SHOOTERS</h2></button>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="header4" data-parent="#exempleAccordeon">
                        <div class="card-body">
                            <h4 class="item">After Eight</h4>
                            <p>Baileys - Get 27</p>
                            <span class="prix">5€</span>
                            <h4 class="item">Thor</h4>
                            <p>Absinthe - whisky</p>
                            <span class="prix">5€</span>
                            <h4 class="item">Petit Nuage</h4>
                            <p>Sumbuca - tequila - tabasco</p>
                            <span class="prix">5€</span>
                            <h4 class="item">Baby Guinness</h4>
                            <p>Tequila café - Baileys</p>
                            <span class="prix">5€</span>
                            <h4 class="item">Le Carrelet</h4>
                            <p>Rhum coco torréfié</p>
                            <span class="prix">6€</span>
                            <h4 class="item">Basique</h4>
                            <p>Alcool - sirop</p>
                            <span class="prix">4€</span>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="header5">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5"><h2>TAPAS</h2></button>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="header5" data-parent="#exempleAccordeon">
                        <div class="card-body">
                            <h4 class="item sansmargintop">Tapas du moment</h4>
                            <span class="prix">8€</span>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="header6">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6"><h2>BOCAUX</h2></button>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="header6" data-parent="#exempleAccordeon">
                        <div class="card-body">
                            <p class="sous-titre">Plats</p>
                            <span class="prix">9.90€</span>
                            <p class="avecmarginbottom avecmargintop">BOEUF BOURGUIGNON & SES LEGUMES</p>
                            <p class="avecmarginbottom">RISOTTO DE QUINOA AGRUMES & LEGUMES</p>
                            <p class="avecmarginbottom">BLANQUETTE DE VEAU A L'ANCIENNE</p>
                            <p class="avecmarginbottom">HACHIS PARMENTIER DE CANARD</p>
                            <p class="avecmarginbottom">BRANDADE DE CABILLAUD & CITRON VERT</p>
                            <p class="sous-titre">Formule</p>
                            <span class="prix">12.90€</span>
                            <p class="avecmarginbottom avecmargintop">PLAT + BOISSON (Vin, Bière, Soft)</p>
                            <span class="prix">(Sur place ou à emporter)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}